body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
  background: #161B21;
  border: 2px solid #8BD8BD;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  /* border: 1px solid #5f9341; */
  border: 1px solid #8BD8BD;
  border-radius: 5px;
  margin-bottom: 5px;
}

button {
  /* background: #5f9341; */
  background: #8BD8BD;
  color: #161B21;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border: 1px solid #8BD8BD;
  cursor: pointer;
  border-radius: 5%;
}

#delete-btn {
  background: #161B21;
  color: #8BD8BD;
  /* color: #243665; */
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
}

a {
  color: #8BD8BD;
  font-style: italic;
}
